.counterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counterBtn {
  margin: 1rem;
  padding: 1rem;
  font-size: 3rem;
}

.count {
  margin: 1rem;
  padding: 1rem;
  font-size: 4rem;
}

#green {
  background-color: green;
}
#red {
  background-color: red;
}
